* {
    font-size: 12px;
    font-family: 'DejaVu Sans', serif;
}

h1 {
    font-size: 18px;
}

.ticket {
    margin: 2px;
}

td,
table {
    border-top: 1px dashed black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}
tr,
th,
table {
    line-height: 8px !important;
}

td.precio {
    text-align: right;
    font-size: 11px;
}

th {
    text-align: center;
    width: 100%;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 100%;
    max-width: 100%;
}

img {
    max-width: inherit;
    width: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.ticket {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.mt8 {
    font-size: 8px !important;
}

.mt8 {
    font-size: 8px !important;
}

.mt16 {
    font-size: 16px !important;
}

.cabezote {
    padding: 0 !important;
    margin-top: 8px !important;
    line-height: 8px !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.cabezote-direccion {
    position: relative !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-weight: bold !important;
}

.margen-left {
    margin-left: 10px !important;
}

.space-border {
    position: absolute;
    border-top: 1px dashed black !important;
    border-collapse: collapse !important;
    margin: 0 auto !important;
    width: 100% !important;
}